<p>Dear <%= firstName %>, </p>

<p>
    Thanks for signing up for Joseph App. We're very excited to have you on board
</p>

<p>Here are your account details: </p>
<ul>
    <li> Email: <%= email %> </li>
    <li> Login Url: <%= loginUrl %> </li>
</ul>

Thanks for signing up 
Support Team